{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content">
            <h1 class="h1-title">Archives</h1>
        </div>
    </div>
</div>

    <div class="archive-container column is-centered">
        <div class="archive">

            {{ range (where (where site.RegularPages "Type" "in" site.Params.mainSections) ".Params.draft" "!=" true).GroupByDate "2006" }}
            <h2 class="archive-title">{{ .Key }}</h2>
            {{ range .Pages }}
            {{/*  {{ range .Paginators.Pages }} */}}

            <article class="archive-item">
                <a href="{{ .Permalink }}" class="archive-item-link hover-underline-animation">{{ .Title }}</a>
                <span class="archive-item-date">
                    {{ .Date.Format "January 2, 2006" }}
                </span>

            </article>
            {{ end }}
            {{ end }}
        </div>

    </div>


{{ end }}