{{ define "main" }}
<div class="container">
    <div class="section">
        <h2 class="archive-title">Category: {{ .Title }}</h2>
</div>
</div>
<div class="each-category column is-centered">


    {{ range  .Paginator.Pages}}

        <article class="archive-item">
            <a href="{{ .Permalink }}" class="archive-item-link hover-underline-animation">{{ .Title }}</a>
            <span class="archive-item-date">
                {{ .Date.Format "January 2, 2006" }}
            </span>

        </article>

    {{ end }}

</div>
{{ end }}