{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </div>
    </div>
</div>

<section class="card-container" >
    
        {{ range .Data.Terms.ByCount }}
        <div class="card">
            
                    <a href="{{ .Page.Permalink }}">
                    </a>
                <div class="card-content has-text-centered">
                    <div>
                        <a class="title is-5 is-size-6-mobile" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                        {{ $pageCount := len .Pages }}
                        <strong>
                        <sup style="font-size:16px;">{{ $pageCount }}</sup>
                        </strong>
                    </div>
                </div>
           
        </div>
        {{ end }}
    
</section>

{{ end }}