@import "variables";
.archive {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.3em;
  text-align: left;
  color: #111;

  .title,
  .archive-title {
    font-size: $font-size-archive-title;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  .archive-item {
    margin: 5px 0 15px;
    padding: 0;

  }

  .archive-item-date {
    color: $main-grey;
    font-size: $font-size-content;
    padding: 5px 0;
    margin-top: 5px;
    float: right;
  }


  .archive-item-link {
    display: inline-block;
    text-decoration: none;
    font-size: $font-size-content-larger;
    color: #222;
    padding: 5px 0;
    transition: all 0.1s linear;

  }

}

.dark-mode .archive {
  color: $dark-font;
}