.single-container{

  .archive{

    .author-image {
      object-fit: cover;
      border-radius: 50%;
      width: 48px;
      height: 48px;
    }

    .author-info {
      display: flex;
      font-size: 1rem;
    }

    .small-categories-container {
      margin-right: 3rem;
      text-align: right;
    }

    .article-content > :not(.toc-container){
      a{
        color: #6086b4;
      }
    }

  }
  #scrollToTopButton{
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 9999; 
  }

  .pre-and-post {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    a {
      font-weight: bolder;
    }
  }

  .article-content {
    margin: 2rem 0;
  }

 
}

@media (max-width: 768px) {

  .single-container .title {
    text-align: left;
    .small-categories-container {
      margin-right: 5vw;
    }
  }
}

