#scrollToTopButton{
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 9999; 
}
#verification{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  #secret-word{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    width: auto;
    input[type="password"] {
      margin-bottom: 1.5rem;
      padding: 10px 20px;
    }
    input[type="submit"] {
      padding: 10px 20px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: $main-orange;
    }
    
  }
}


.hidden{
  display: none;
}
.single-container{

  .archive{

    .author-image {
      object-fit: cover;
      border-radius: 50%;
      width: 48px;
      height: 48px;
    }

    .author-info {
      display: flex;
      font-size: 1rem;
    }

    .small-categories-container {
      margin-right: 3rem;
      text-align: right;
    }

    .article-content > :not(.toc-container){
      a{
        color: #6086b4;
      }
    }
    

  }


  .pre-and-post {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    a {
      font-weight: bolder;
    }
  }

  .article-content {
    margin: 2rem 0;
  }
}

@media (max-width: 768px) {
  #verification{
    
    #secret-word{
      font-size: 1rem;
      margin-top: 1rem;
    }
    form {
      
      input[type="password"] {
        padding: 10px 20px;
        width: auto;
        margin-bottom: 1rem;
      }
      input[type="submit"] {
        padding: 10px 20px;
        cursor: pointer;
        background-color: $main-orange;
      }
      
      
    }
  }
  
  .single-container .title {
    text-align: left;
    .small-categories-container {
      margin-right: 5vw;
    }
  }
}

