@import "variables";

.post-title {
  margin-bottom: 1rem;
  @media (max-width: 768px){
    margin-bottom: 0.5rem;
  }
}

.post-link {
  color: $main-black;
  font-size: $font-size-content-larger;
  @media (max-width: 768px) {
    font-size: $font-size-content;
  }
}

#post-container {
  padding: 1rem;
  background-color: $main-light;
  border-radius: 24px;

  .excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .post-time-container {
    margin-top: 0.5rem;
  }
}
.dark-mode #post-container {
  background-color: $dark-navbar;
  color: $dark-font;
}