$main-black: #363636;
$main-orange: #FAB005;
$main-light: #f5f5f5;
$main-grey: rgb(142, 139, 139);
$dark-background: #1F1F1F;
$dark-navbar: #2D2F31;
$dark-font: #E3E3E3;
$font-size-home-title: 2.5rem;
$font-size-article-title: 2.5rem;
$font-size-article-title-mobile: 1.8rem;
$font-size-content: 1rem;
$font-size-content-larger: 1.3rem;
$font-size-archive-title: 1.9rem;