{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content">
            <h1>Archives</h1>
        </div>
    </div>
</div>
<div class="columns is-centered">
    <div class="column max-800px">
        <div class="archive">
            {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" }}
            <h2 class="archive-title">{{ .Key }}</h2>
            {{ range .Pages }}
            {{/*  {{ range .Paginators.Pages }} */}}

            <article class="archive-item">
                <a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
                <span class="archive-item-date">
                    {{ .Date.Format "January 2, 2006" }}
                </span>

            </article>
            {{ end }}
            {{ end }}
        </div>

    </div>
</div>
<div class="columns is-centered">
    <div class="column is-narrow">
        {{ partial "widgets/pagination.html" . }}
    </div>
</div>
{{ end }}