{{/*  单个帖子的模板  */}}
{{ define "main" }}
<section class="section">
    <article>
        <div class="columns is-centered">
            <div class="column max-800px">
                <h1 class="title is-1">{{ .Title }}</h1>
                <div class="title subtitle heading is-6">
                    <div class="columns is-vcentered">
                        <div class="column">
                            <div class="columns is-vcentered is-mobile">
                                {{ with .Site.Params.authorImage }}
                                <div class="column is-narrow">
                                    <img src="{{ . }}" class="author-image">
                                </div>
                                {{ end }}
                                <div class="column" style="text-transform:capitalize;">
                                    <p>{{ .Site.Params.Author }}</p>
                                    <p><time>{{ .PublishDate.Format "January 2, 2006" }}</time> 
                                       </p>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            {{ range $idx, $category := .Params.categories }}
                            {{- if ne $idx 0 }}, {{ end }}<a
                                href="{{ "categories/" | relURL }}{{ $category | urlize }}">{{ $category }}</a>
                            {{- end }}
                        </div>
                    </div>
                </div>
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </article>
</section>

{{ end }}
