{{- $toc := .TableOfContents -}}
{{- if $toc -}}
    <!-- When the $toc variable is not empty, generate the table of contents for the article -->
    <div class="post-toc">
        {{ if and (gt .WordCount 80) (.Params.toc | default true) }}
            <aside>
                <h4 style="margin-left: 1vw;">CONTENTS</h4>
                {{- $toc := replaceRE `<ul>\n<li>\n<ul>` `<ul>` $toc -}}
                {{- safeHTML $toc -}}
            </aside>
        {{ end }}
    </div>
{{- end -}}
